* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #EC715F; /* ヘッダーの背景色を設定 */
  color: #FAFAFA; /* テキストの色を設定 */
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ70px */
}

nav img {
  height: 70px; /* ロゴの高さを設定 */
  /* もしくは幅を指定 */
  /* width: 100px; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin-right: 30px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-list-item a {
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ650px */
}

.main {
  width: 100%; /* 横幅いっぱい */
  height: 1400px; /* 高さ1400px（多めに設定） */
  background-color: green; /* 背景色green */
}

.footer {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  background-color: blue; /* 背景色blue */
}
